﻿﻿﻿﻿@model List<DataAccess.Models.Article>


<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Suma</th>
            <th>Date create</th>
            <th>Category</th>
            <th>Currency</th>
            <th>Type of pay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model)
        {
        <tr>
            <td>@article.Id</td>
            <td>@article.Name</td>
            <td>@article.Suma</td>
            <td>@article.Ctime.ToShortDateString()</td>
            <td>@article.Category.Name</td>
            <td>@Html.ActionLink(article.Currency.Symbol, "Convert", new { id = article.Id })</td>
            <td>@article.Pay.Name</td>
            <td>@Html.ActionLink("Edit", "Edit", "Article", new { id = article.Id }, null)</td>
            <td>@Html.ActionLink("Details", "Details", new { id = article.Id })</td>
            <td data-url="@Url.Action("Delete", "Article", new { id = article.Id})" onclick="deleted(this)"><a href="#">Delete</a></td>
        </tr>
        }
    </tbody>
</table>